<main>
  <nav>
    <p>
      <a href="https://academia-binaria.com/hola-angular-cli/">Tutorial</a>
    </p>
    <p>
      <a href="https://academiabinaria.github.io/angular-basic/">Ejecutable</a>
    </p>
  </nav>
  <section>
    <article>
      <header>
        <h3>
          Basic Angular Tutorial
        </h3>
      </header>
      <main>
        <p>
          Fork this <a href="https://github.com/AcademiaBinaria/angular-basic">Repository</a>
        </p>
        <!-- <router-outlet></router-outlet> -->
      </main>
      <footer><small><i>Use it as a demo sample for learning Angular basics</i></small></footer>
    </article>
  </section>
  <aside>
    <header>
      <h3>Featuring:</h3>
    </header>
    <ul>
      <li><a routerLink="contacts">Forms</a></li>
      <li><a routerLink="car">Flow</a></li>
      <li>HTML5</li>
      <li>Flex-box</li>
      <li>TSlint</li>
      <li>Prettier</li>
    </ul>
  </aside>
</main>
